<div class="row">
    <div class="example-1 card">
        <div class="wrapper">
            <!-- <div class="date"> -->
            <!-- <span class="day">12</span>
                <span class="month">Aug</span>
                <span class="year">2016</span> -->
            <!-- </div> -->
            <div class="data">
                <div class="content">
                    <span class="author">5 ETH</span>
                    <h1 class="title"><a href="#">Take a boat trip down the Cosmos Lake</a></h1>
                    <p class="text"> Behold all the cryptogalactic creatures hiding in the details!</p>
                    <label for="show-menu" class="menu-button"><span></span></label>
                    <button (click)="payEntranceFee()" class="button is-primary">
                      Pay
                </button>
                </div>
                <!-- <input type="checkbox" id="show-menu" /> -->
                <!-- <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="example-2 card">
        <div class="wrapper">
            <div class="header">
                <!-- <div class="date">
                    <span class="day">12</span>
                    <span class="month">Aug</span>
                    <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
            </div> -->
                <div class="data">
                    <div class="content">
                        <span class="author">5 ETH</span>
                        <h1 class="title"><a href="#">Buy Popcorn and watch a movie!</a></h1>
                        <p class="text">Stranger Things: The sound of the Upside Down</p>
                    </div>
                    <button (click)="payEntranceFee()" class="button is-primary">
                          Pay
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="example-3 card">
        <div class="wrapper">
            <div class="header">
                <!-- <div class="date">
                    <span class="day">12</span>
                    <span class="month">Aug</span>
                    <span class="year">2016</span>
                </div>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
                </ul>
            </div> -->
                <div class="data">
                    <div class="content">
                        <span class="author">5 ETH</span>
                        <h1 class="title"><a href="#">Dare Devil Interstellar Travel RollerCoaster!</a></h1>
                        <p class="text">The most popular attraction of them all! Travel though space and time. If you dare....</p>
                    </div>
                    <button (click)="payEntranceFee()" class="button is-primary">
                          Pay
                      </button>
                </div>
            </div>
        </div>
    </div>
    <div class="example-4 card">
        <div class="wrapper">
            <!-- <div class="date"> -->
            <!-- <span class="day">12</span>
                <span class="month">Aug</span>
                <span class="year">2016</span> -->
            <!-- </div> -->
            <div class="data">
                <div class="content">
                    <span class="author">5 ETH</span>
                    <h1 class="title"><a href="#">Moonlight Café.</a></h1>
                    <p class="text"> Travel to the moon and have a moon cake on the first café ever on the moon!</p>
                    <label for="show-menu" class="menu-button"><span></span></label>
                    <button (click)="payEntranceFee()" class="button is-primary">
                      Pay
                </button>
                </div>
                <!-- <input type="checkbox" id="show-menu" /> -->
                <!-- <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                </ul> -->
            </div>
        </div>
    </div>
</div>